<ion-list lines="none">
  <div *ngFor="let _ of [1, 2, 3, 4]" class="skeleton-item-container">
    <ion-skeleton-text [animated]="true" class="skeleton-image"></ion-skeleton-text>
    <ion-skeleton-text [animated]="true" class="skeleton-subtitle"></ion-skeleton-text>
    <ion-skeleton-text [animated]="true" class="skeleton-title"></ion-skeleton-text>
    <ion-skeleton-text [animated]="true" class="skeleton-break"></ion-skeleton-text>
    <ion-skeleton-text [animated]="true" class="skeleton-extra-details"></ion-skeleton-text>
  </div>
</ion-list>
