.skeleton-item-container{
  position: relative;
  width: 90% !important;
  margin-left: 5% !important;
  border-radius: 20px;
  margin-top: 20px;
  height: 260px;
}

.skeleton-image {
  position: relative;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 150px;
  top: 0;
}

.skeleton-subtitle {
  position: relative;
  margin-left: 5%;
  margin-top: 5px;
  width: 20%;
  height: 15px;
}

.skeleton-title {
  position: relative;
  margin-left: 5%;
  margin-top: 5px;
  width: 50%;
  height: 24px;
  margin-bottom: 8px;
}

.skeleton-break {
  width: 90%;
  margin-left: 5%;
  height: 1px
}

.skeleton-extra-details {
  position: relative;
  margin-left: 5%;
  margin-top: 8px;
  width: 90%;
  height: 15px;
}
