/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  --primary-color: #0486C4;
  --secondary-color: #f3f5fb;
  --ion-safe-area-top: env(safe-area-inset-top);
  --ion-safe-area-bottom: env(safe-area-inset-bottom);
  --ion-safe-area-left: env(safe-area-inset-left);
  --ion-safe-area-right: env(safe-area-inset-right);
  --primary-text: Roboto, serif;
}

.centered-blur-modal {
  --background: rgba(44, 39, 45, 0.2);

  &::part(content) {
    backdrop-filter: blur(6px);
  }

  ion-content {
    --background: transparent;

    --padding-top: 20vh;
    --padding-start: 30px;
    --padding-end: 30px;

    ion-datetime {
      border-radius: 8px;
    }
  }
}

.review-star-icon{
  width: 17px;
  height: 17px;
  float: left;
}


.stick-to-right{
  float: right;
}

.stick-to-left{
  float: left;
}
//.car-details-modal {
//  --height: 90%; /* set the modal height */
//  --top: calc(100% - var(--height)); /* calculate the top position based on height */
//}
//
//.car-details-modal .modal-wrapper {
//  top: var(--top) !important; /* override the default top position */
//  height: var(--height) !important; /* override the default height */
//  border-radius: 20px 20px 0 0; /* add border radius to the top corners */
//  overflow-y: auto; /* enable scrolling for modal content */
//}
