<div class="login-page-container">
  <img src="assets/images/welcome-page.png" id="background-image">

  <div class="header-container">
    <div class="logo-container">
      <h2>ViCarGo</h2>
    </div>

    <div id="text-container">
      <h1>"Don't<br>sit at home.<br>Go for a ride!"</h1>
    </div>
  </div>

  <div id="form-container">
    <div *ngIf="showSignInButtons" class="form-inputs-container" [formGroup]="credentials">

      <h2>Sign in</h2>

      <div class="login-input-field-container">
        <input type="email" placeholder="Email" formControlName="email">
        <img *ngIf="email.touched || email.dirty" [src]="(email.dirty || email.touched) && email.errors ?
          'assets/images/icons/cross-icon-red.svg' :
          'assets/images/icons/check-icon-blue.svg'">
      </div>

      <div class="login-input-field-container">
        <input type="password" placeholder="Password" formControlName="password">
        <img *ngIf="password.touched || password.dirty" [src]="(password.dirty || password.touched) && password.errors ?
          'assets/images/icons/cross-icon-red.svg' :
          'assets/images/icons/check-icon-blue.svg'">
      </div>
    </div>
  </div>

  <div class="login-page-buttons-container">
    <button *ngIf="showSignInButtons" class="login-page-buttons" (click)="login()">Login</button>
    <button *ngIf="showSignInButtons" class="login-page-buttons" (click)="register()">Register</button>
    <button *ngIf="!showSignInButtons" class="go-ahead-button" (click)="showSignInButtonsOnClick()">Let's go</button>
  </div>
</div>
