<div class="home-page-container">
  <div class="home-page-header-container">
    <div class="home-page-header">
      <div class="user-location-details">
        <p class="location-title">Your location:</p>
        <p class="location-text">{{currentLocation}}</p>
      </div>
      <div class="user-profile-image">
        <div class="profile-container">
          <img src="assets/images/home-page/default-profile.png">
        </div>
      </div>
    </div>
  </div>

  <div class="home-page-info-text">
    Find the vehicle that suits you the most.
  </div>

  <div class="home-page-main-section-container">
    <div class="search-bar-container">
      <img src="assets/images/icons/search-icon.svg" class="search-bar-icon">
      <p>Search vehicle...</p>
    </div>

    <div class="top-brands-container">
      <p class="section-title">Top Brands</p>
      <p class="section-click">See all</p>
      <div class="scroll-wrapper">
        <div (click)="onClick()" *ngFor="let item of topBrandsList" class="scroll-item brand-list-item">
          <img [src]="'./assets/images/car-brands-icons/' + item + '.png'">
        </div>
      </div>
    </div>

    <div class="nearby-cars-container">
      <p class="section-title">Available Near You</p>
      <p class="section-click">See all</p>
      <div class="scroll-wrapper">
        <app-car-item class="scroll-item" [carItem]="carMock1" (click)="presentDetailsModal(carMock1)"></app-car-item>
        <app-car-item class="scroll-item" [carItem]="carMock2" (click)="presentDetailsModal(carMock2)"></app-car-item>
      </div>
    </div>

  </div>

</div>
