img{
  width: 15px;
  height: 15px;
}

ion-item{
  .item-native{
    --padding: 0;
  }
}

ion-col{
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.star-rating{
  position: relative;
  //padding-inline-start: var(--ion-grid-column-padding-xs, var(--ion-grid-column-padding, 5px));
  //padding-inline-end: var(--ion-grid-column-padding-xs, var(--ion-grid-column-padding, 5px));
}

.title-container{
  display: flex;
  flex-direction: column;

  ion-label{
    float: left;
  }

  ion-note{
    float: right;
  }
}
