:root {
  --primary-color: #0486C4;
  --secondary-color: #f3f5fb;
  --ion-safe-area-top: env(safe-area-inset-top);
  --ion-safe-area-bottom: env(safe-area-inset-bottom);
  --ion-safe-area-left: env(safe-area-inset-left);
  --ion-safe-area-right: env(safe-area-inset-right);
  --primary-text: Roboto, serif;
}
