<ion-header>
  <ion-toolbar>
    <ion-title>Leave a review</ion-title>
    <ion-buttons slot="end">
      <ion-button id="close-button" (click)="dismissModal()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="ion-item-no-border">
      <ion-label>Rating:</ion-label>
    </ion-item>

    <ion-item>
      <div class="star-rating">
        <img (click)="starClicked(1)" [src]="isStarClicked[0] ? './assets/images/icons/star-filled.svg' : './assets/images/icons/star-outline.svg'">
        <img (click)="starClicked(2)" [src]="isStarClicked[1] ? './assets/images/icons/star-filled.svg' : './assets/images/icons/star-outline.svg'">
        <img (click)="starClicked(3)" [src]="isStarClicked[2] ? './assets/images/icons/star-filled.svg' : './assets/images/icons/star-outline.svg'">
        <img (click)="starClicked(4)" [src]="isStarClicked[3] ? './assets/images/icons/star-filled.svg' : './assets/images/icons/star-outline.svg'">
        <img (click)="starClicked(5)" [src]="isStarClicked[4] ? './assets/images/icons/star-filled.svg' : './assets/images/icons/star-outline.svg'">
      </div>
    </ion-item>

    <ion-item class="ion-item-no-border">
      <ion-label>Review:</ion-label>
    </ion-item>

    <ion-item>
      <ion-textarea [(ngModel)]="reviewText" rows="15"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button id="submit-button" (click)="submitReview()">Submit</ion-button>
</ion-content>
