<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/landing/account"></ion-back-button>
    </ion-buttons>
    <ion-title>My Car Requests</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-segment [(ngModel)]="segmentSelection">
    <ion-segment-button value="pending">
      Pending
    </ion-segment-button>
    <ion-segment-button value="processed">
      Processed
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="segmentSelection === 'pending' && reservations.length > 0">
    <app-car-reservation-item *ngFor="let reservation of reservations" [reservation]="reservation" [isFromCarRequests]="true"></app-car-reservation-item>
  </ion-list>
  <app-empty-array-item *ngIf="segmentSelection === 'pending' && reservations.length === 0" [displayText]="'No pending reservations'" [isBigImage]="true" [imagePath]="'./assets/images/icons/request-icon.png'"></app-empty-array-item>

  <ion-list *ngIf="segmentSelection === 'processed' && processedReservations.length > 0">
    <app-car-reservation-item *ngFor="let processedReservation of processedReservations" [reservation]="processedReservation" [isFromCarRequests]="true"></app-car-reservation-item>
  </ion-list>
  <app-empty-array-item *ngIf="segmentSelection === 'processed' && processedReservations.length === 0" [displayText]="'No processed reservations'" [isBigImage]="true" [imagePath]="'./assets/images/icons/request-icon.png'"></app-empty-array-item>
</ion-content>
